<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--日志路径目录-->
    <add key="LogDirectory" value=""/>
    <!--要匹配的日志的正则表达式(使用三个分号分割;;;)-->
    <add key="MatchRegexs" value=""/>
  </appSettings>
</configuration>